<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
    <title>Sistema de clientes</title>
</head>
<body>
<header th:replace="layout/plantilla :: header"></header>
<section th:replace="layout/botonesAgregar :: botonesAgregar"></section>
<section th:replace="layout/agregarCliente :: agregarCliente"></section>
<section th:replace="layout/listadoClientes :: listadoClientes"></section>
<footer th:replace="layout/plantilla :: footer"></footer>
<div th:replace="layout/plantilla :: scripts"></div>
</body>
</html>